body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

#paletteContainer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.swatch {
  height: 100px;
  width: 100px;
  margin: 1em;
}
